{% extends "tpl.html" %}

{% block content %}
    
    <H1> QUIZZES </H1>

    This is the index of the <I>quizzes</I> app. Here is a list of all <B>available</B> quizzes.

    
    
    {% if quizz_list %}
        <ul>
        {% for quiz in quizz_list %}
            <li>
                Quiz: {{ quiz.id }}
                Created At: {{ quiz.created_at }}
                Title: {{ quiz.title }}
                <br>
                <em>{{ quiz.description }}</em>
                <ul>
                    {% for response in quiz.responses %}
                    <li>
                        <a href="/quizzes/{{ quiz.id }}/{{ response.student_id }}">
                            {{ response.student_id }}
                        </a>
                        {{ response.full_name }}
                    </li>
                    {% endfor %}
                </ul>

                <a href="{% url 'quizzes:create' quiz_id=quiz.id %}" class="btn btn-primary">
                    Attempt now
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No quizzes available.</p>
    {% endif %}
    <style>
        .image {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 50px; 
            margin-right: 50px; 
        }
    </style>
    <div class="container">
    <img width="500px" height="DEFAULT"  src="https://www.uvg.edu.mx/hubfs/Imported_Blog_Media/original-75e0333848c50d49ba9c6b698d31a3a0-1.jpg#keepProtocol"  class="image">
    </div>
    
{% endblock %}
